<div class="container">
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Get Roles</h5>
          <p class="card-text">Get Roles data to click this get button.</p>
          <a href="getrolee" class="btn btn-primary">Get Roles</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add Roles Details</h5>
          <p class="card-text">Add Roles data to click this Add button.</p>
          <a href="postrole" class="btn btn-primary">Add Roless</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Update Roles Details</h5>
          <p class="card-text">Update Roles data to click this Update button.</p>
          <a href="updatrol" class="btn btn-primary">Update Roles</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Delete Roles Details</h5>
          <p class="card-text">Delete Roles data to click this get button.</p>
          <a href="deleterolee" class="btn btn-primary">Delete Roles</a>
        </div>
      </div>
    </div>
  </div>
</div>