<div class="container">
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Get User Details</h5>
          <p class="card-text">Get users data to click this get button.</p>
          <a href="getuser" class="btn btn-primary">Get Users</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add User Details</h5>
          <p class="card-text">Add users data to click this Add button.</p>
          <a href="post" class="btn btn-primary">Add Users</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Update User Details</h5>
          <p class="card-text">Update users data to click this Update button.</p>
          <a href="update" class="btn btn-primary">Update Users</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Delete User Details</h5>
          <p class="card-text">Delete users data to click this get button.</p>
          <a href="delete" class="btn btn-primary" >Delete Users</a>
        </div>
      </div>
    </div>
  </div>
</div>