<div class="container">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">User Management</h5>
              <p class="card-text">Manage users data to click this get button.</p>
              <a href="usermanage" class="btn btn-primary">Click this</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Role Management</h5>
              <p class="card-text">Manage roles to click this get button.</p>
              <a href="rolemanage" class="btn btn-primary">Click this</a>
            </div>
          </div>
        </div>
      </div>